<div class="container contactFooter__section">
    <div class="row">
        <div class="col-lg-9 contactFooter__left">
            <h2 class="contactFooter__left__name">Контакты:</h2>
            {{#contactFooter}}
            <div class="contactFooter__left__content">
                {{{content}}}
            </div>
            {{/contactFooter}}
        </div>
        <div class="col-lg-3">
          <!-- <div class="reklamaBlock">

            <div id="yandex_rtb_R-A-484761-1"></div>

            <div id="yandex_rtb_R-A-484761-2"></div>
            <script type="text/javascript">
                (function(w, d, n, s, t) {
                    w[n] = w[n] || [];
                    w[n].push(function() {
                        Ya.Context.AdvManager.render({
                            blockId: "R-A-484761-2",
                            renderTo: "yandex_rtb_R-A-484761-2",
                            async: true
                        });
                    });
                    t = d.getElementsByTagName("script")[0];
                    s = d.createElement("script");
                    s.type = "text/javascript";
                    s.src = "//an.yandex.ru/system/context.js";
                    s.async = true;
                    t.parentNode.insertBefore(s, t);
                })(this, this.document, "yandexContextAsyncCallbacks");
            </script>
            <div class="" style="margin-top:10px;">
              {{#each reklama}}
              <a target="_blank" href="{{{content}}}">
                  <img src="{{{image.secure_url}}}" class="reklamaBlock-img" alt="reklamaBlock">
              </a>
              {{/each}}
            </div>
          </div> -->
        </div>
    </div>
</div>
<div class="container" style="margin:20px 0;">

</div>
