<div class="container gallerySection">
  <div class="allEvent" style="">
    <a href="/gallery" style="z-index:999;"><i style="padding-right:10px;" class="fa fa-chevron-left" aria-hidden="true"></i>Все альбомы</a>
  </div>
	<h1 style="font-weight: bold;color:#03a9f4;">{{data.post.name}}</h1>
	<div class="gallerycol__row">
    {{#each data.post.images}}
    <a href="{{secure_url}}" data-toggle="lightbox" data-gallery="example-gallery" data-type="image" class="gallerycol__link__img">
			<div class="gallerycol__container" style="background-image: url({{secure_url}});"></div>
		</a>
    {{/each}}
	</div>
</div>
