<section class="usefullCard">
	<div class="container" >
		<div class="row">
			<div class="col-lg-9 usefullCard__left">
				<div class="usefullCurrentPost">
					<div class="usefullCurrentPost__imgBlock">
						<img src="/img/usefullAllCurrent.png">
					</div>
					<div class="usefullCurrentPost__contentBlock">
						<h2 class="usefullCurrentPost__contentBlock__name">Авторай - магазин автозапчастей в Гродно</h2>
						<div class="usefullCurrentPost__contentBlock__desc">
                            <div class="usefullCurrentPost__contentBlock__desc__address">
                                <h2>Адрес</h2>
                                <p>ул.Пушкина дом Колотушкина </p>
                            </div>
                            <div class="usefullCurrentPost__contentBlock__desc__phone">
                                <h2>Телефон</h2>
                                <p>2323232323,2323213213,5456823,231321313</p>
                            </div>
                            <div class="usefullCurrentPost__contentBlock__desc__mail">
                                <h2>Email</h2>
                                <p>avitorai@mail.ru</p>
                            </div>
                            <div class="usefullCurrentPost__contentBlock__desc__site">
                                <h2>Сайт</h2>
                                <p>http://www.avitorai.by</p>
                            </div>
                            <div class="usefullCurrentPost__contentBlock__desc__desc">
                                <h2>Описание</h2>
                                <p>
                                    Равным образом постоянный количественный рост и сфера нашей активности требуют от нас
                                    анализа существенных финансовых и административных условий. Идейные соображения высшего
                                    порядка, а также консультация с широким активом способствует подготовки и реализации
                                    дальнейших направлений развития. Таким образом дальнейшее развитие различных форм
                                    деятельности требуют от нас анализа позиций, занимаемых участниками в отношении
                                    поставленных задач.
                                </p>
                            </div>

                            <div class="usefullCurrentPost__contentBlock__desc__info">
                                <h2 class="usefullCurrentPost__contentBlock__desc__info__name">Информация о компании</h2>
                                <div class="usefullCurrentPost__contentBlock__desc__info__avtozap">
                                    <div><h2 class="usefullCurrentPost__contentBlock__desc__info__avtozap__name">Автозапчасти</h2></div>
                                    <div class="usefullCurrentPost__contentBlock__desc__info__avtozap__content">
                                        <div class=" usefullCurrentPost__contentBlock__desc__info__avtozap__content__left">
                                            <div class="d-flex">
                                                <img src="/img/galka.png" style="width:15px;height:12px;margin:4px 10px 0 0;" alt="">
                                                <p>Запчасти к легковым авто</p>
                                            </div>
                                            <div class="d-flex">
                                                <img src="/img/galka.png" style="width:15px;height:12px;margin:4px 10px 0 0;" alt="">
                                                <p>Запчасти к иномаркам</p>
                                            </div>
                                        </div>
                                        <div class=" usefullCurrentPost__contentBlock__desc__info__avtozap__content__right">
                                            <div class="d-flex">
                                                <img src="/img/galka.png" style="width:15px;height:12px;margin:4px 10px 0 0;" alt="">
                                                <p>Запчасти к легковым авто</p>
                                            </div>
                                            <div class="d-flex">
                                                <img src="/img/galka.png" style="width:15px;height:12px;margin:4px 10px 0 0;" alt="">
                                                <p>Запчасти к иномаркам</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="usefullCurrentPost__contentBlock__desc__info__about">
                                    <div><h2 class="usefullCurrentPost__contentBlock__desc__info__about__name">О компании</h2></div>
                                    <p>Магазин Автозапчастей - Авторай уже 21 год на рынке автозапчастей.
                                        Благодаря чему мы собрали лучшие предложения на рынке автозапчастей и
                                        огромный опыт работы с клиентами. Сервис на высоком уровне, огромный
                                        ассортимент товара и очень приятные цены, для постоянных клиентов
                                        возможно отсрочка платежа. Подписчикам групп Авторай в Вконтакте, Face
                                        Book и Instagram ДОПОЛНИТЕЛЬНЫЕ СКИДКИ!Все подробности уточняйте в
                                        магазине.Авторай это: - Официальная гарантия на весь товар- большой
                                        выбор в наличии и под заказ- сервис на высочайшем уровнеВыбирая
                                        АВТОРАЙ, вы выбираете качество и уверенность в том, что вы получите
                                        качественные запчасти для своего авто.</p>
                                </div>
                                <a href="" class="d-flex showFullDesc">
                                    <h2>Показать полное описание</h2>
                                    <img src="/img/vipad.png" alt="">
                                </a>

                            </div>

                        </div>
					</div>
					<div class="usefullCurrentPost__contentBlock__ocenka d-flex">
						<h2 class="usefullCurrentPost__contentBlock__ocenka__name">Оцените статью</h2>
						<div class="usefullCurrentPost__contentBlock__ocenka__starDiv">
							<i class="fa fa-star usefullCurrentPost__contentBlock__ocenka__starDiv__item"></i>
							<i class="fa fa-star usefullCurrentPost__contentBlock__ocenka__starDiv__item"></i>
							<i class="fa fa-star usefullCurrentPost__contentBlock__ocenka__starDiv__item"></i>
							<i class="fa fa-star usefullCurrentPost__contentBlock__ocenka__starDiv__item"></i>
							<i class="fa fa-star usefullCurrentPost__contentBlock__ocenka__starDiv__item"></i>
						</div>
						<h2 class="usefullCurrentPost__contentBlock__ocenka__count">(12 голосов в среднем : 5 из 5)</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="reklamaBlock">

					<!-- <div id="yandex_rtb_R-A-484761-1"></div>

					<div id="yandex_rtb_R-A-484761-2"></div>
					<script type="text/javascript">
							(function(w, d, n, s, t) {
									w[n] = w[n] || [];
									w[n].push(function() {
											Ya.Context.AdvManager.render({
													blockId: "R-A-484761-2",
													renderTo: "yandex_rtb_R-A-484761-2",
													async: true
											});
									});
									t = d.getElementsByTagName("script")[0];
									s = d.createElement("script");
									s.type = "text/javascript";
									s.src = "//an.yandex.ru/system/context.js";
									s.async = true;
									t.parentNode.insertBefore(s, t);
							})(this, this.document, "yandexContextAsyncCallbacks");
					</script> -->
					<div class="" style="margin-top:10px;">
						{{#each reklama}}
						<a target="_blank" href="{{{content}}}">
								<img src="{{{image.secure_url}}}" class="reklamaBlock-img" alt="reklamaBlock">
						</a>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container" style="margin:20px 0;">

</div>
