.afishaPage{
  margin:110px 0 110px 0;
}

.afishaPage__content__category__spis__a__active{
  color:#FEBF14;
}

.afishaPage__content__category{
  min-height: 46px;
  height: auto;
  background: #FFFFFF;
  width: 99%;
}
.findOnDate{
  width: 100%;
}
.afishaPage__content__posts__item__content__content{
  font-size: 13px;
  padding-bottom: 10px;
}
.afishaPage__content__category__spis{
  padding:0;
  list-style:none;
  margin-bottom: 0;
  height: 46px;
  align-items: center;
}

.afishaPage__content__category__spis li{
  padding: 0px 63px 0px 0;
}

.afisha__img{
  margin-left 10px
}

.afishaPage__content__category__spis li a{
  font-size:14px;
  font-weight: 400;
  color: #03A9F4;
}

.afishaPage__content__category__spis li a:hover{
  color #febf14
}

.afishaPage__content__posts{
  padding:0;
  flex-wrap: wrap;
  margin:10px 0 0 0;
}

.afishaPage__content__posts__item{
  background: #FFFFFF;
  width: 23.77%;
  margin: 0 10px 20px 0;
  padding:0 10px 0 10px;
  height: auto;
}
.afishaPage__content__posts__item:last-child{
  margin-right: 0;
}
.afishaPage__content__posts__item__img{
  width: 100%;
  height: 185px;
  padding:10px 0 0 0;
  display: flex;
  align-items: flex-end;
  margin-top 10px
}
.afishaPage__content__posts__item__img img{
  width:100%;
  height: 100%;
}
.afishaPage__content__posts__item__content__name{
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0 6px 0;
  margin:0;
}
.afishaPage__content__posts__item__content__name a{
  display:block;
  width:100%;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  padding: 6px 0 6px 0;
  margin:0;
  overflow: hidden;
  transition all 150ms ease
}

.afishaPage__content__posts__item__content__name a:focus
  text-decoration none

.afishaPage__content__posts__item__content p{
  font-size:13px;
  color: #130d0d;
  margin:0;
  padding: 0;
  height: 80px;
  overflow: hidden;
}

.afishaPage__content__posts__item__category{
  height: auto;
  width:100%;
  position: relative;
}
.afishaPage__content__posts__item__category__name{
  color:white;
  font-size:12px;
  font-weight: 400;
  text-align:center;
  padding: 5px 0 5px 0;
  margin-top 0
  margin-bottom 0
}

.afishaPage__reklama{
  margin: 60px 0 0 0;
}

.tcalendar{
  justify-content: center;
  display: none;
}
.tcal{
  padding: 0 5px 0 5px;
  font-size: 12px;
  width: 200px;
  color: #525252;
}

.allEvent{
  display: flex;
  height: 50px;
  font-size: 12px;
  align-items: center;
  color:#0C8D87;
}
.allEvent a{
  color:#03A9F4;
}

.eventNotFound{
  width: 100%;
}

.afishaPage__content__category__spis__a__sub{
  position: absolute;
  z-index: 9;
  background: #fff;
  left: 0;
  padding-top 20px
  padding-bottom 15px
  width 330px
  padding-left 15px
  opacity 0
  visible hidden
  z-index 0
  transition all 150ms ease
}

.pagAfisha{
  display: flex;
  justify-content: center;
}

.paginationAfish{
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.afishaPage__content__category__spis__a__sub__li
  list-style none
  margin: 12px 0;

.afishaPage__content__category__spis__a__sub__li__link
  color #03a9f4;

.afishaPage__content__category__spis__a__sub__li__link__span
  margin-left 30px
  background #febf14
  opacity 0
  transition all 150ms ease

.afishaPage__content__category__spis__a__sub__li:hover .afishaPage__content__category__spis__a__sub__li__link__span
   margin-left 10px
   opacity 1

.afishaPage__content__category__spis__li:hover .afishaPage__content__category__spis__a__sub
  opacity 1
  visible visibility
  z-index 9
