@media only screen and (max-width: 768px){

    .afishaPage__content__category {
      padding 15px
    }

    .afishaPage__content__category__spis__a__sub {
      padding-right: 15px;
      width: 100%;
    }

    .afishaPage__content__category__spis__a__sub__li {
      margin 15px 0
    }

    .afishaPage__content__category__spis{
        padding:0;
        list-style:none;
        height: auto;
        background: #FFFFFF;
        flex-direction: column;
    }
    .afishaPage__content__category__spis li{
        width:100%;
        padding:0;
        text-align: center;
        margin 10px 0
    }
    .afishaPage__content__posts{
        flex-direction: column;
    }
    .afishaPage__content__posts__item{
        width: 99%;
        margin: 30px 0 0px 0.5%;

    }
    .afishaPage__content__posts__item__img {
        height: 230px;
        margin-top: 10px;
    }
    .afishaPage__content__posts__item__category{
        height: auto;
        background: #6D4CC3;
        position: relative;
    }

}


@media only screen and (min-width: 768px) and (max-width: 992px){


    .afishaPage__content__posts__item{
        width: 24%;
        margin: 30px 6px 30px 0;

    }


}

@media only screen and (min-width: 992px) and (max-width: 1199px){


    .afishaPage__content__posts__item{
        width: 24%;
        margin: 30px 6px 30px 0;

    }


}
