.usefullPage{
    margin: 90px 0 550px 0;
}
.usefullLeft{
    height: auto;
}
.usefullPageName{
    margin: 30px -15px 25px -15px;
    color: #03A9F4;
    font-size:25px;
    font-weight: bold;
    padding:0;
}
.usefullPageBlockItem{
    flex-wrap: wrap;
    display: flex;
    height: 10px;
    width: 100%;
}
.usefullPageBlockItem__item{
    width:32%;
    height: 60px;
    margin: 0 10px 15px 0;
    display: flex;
    transition: 200ms ease all;
}

.usefullPageBlockItem__item:hover
  box-shadow: 0 0 10px #03a9f480;

.usefullPageBlockItem__item__img{
  width: 25%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 15px;
}
.usefullPageBlockItem__item__img img{
     width: 100%;
     height: auto;
}
.usefullPageBlockItem__item__name{
    margin-left: 1%;
    width: 74%;
    background:white;
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align: center;
}
.usefullPageBlockItem__item__name h2{
    margin: 0;
    display: flex;
    align-items: center;
    vertical-align: center;
}
.usefullPageBlockItem__item__name h2 a{
    color: black;
    font-weight: 500;
    font-size: 13px;
    padding: 30px 90px 30px 10px;
}

.usefullPageItem-img{
   /* background: url('../../img/usefullCar.png') center center no-repeat; */
    border-right:2px solid #F6F6F6;
    height: 100%;
    padding: 2px;
    width:25%;
    background:#FFFFFF;
}
.usefullPageItem-img img{
    width: 100%;
    height: 100%;
    padding:2px;
}

/*-------------------------------------*/
