@media only screen and (max-width:768px){
    .usefullPageBlockItem{
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .usefullPageBlockItem__item{
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px){
    .usefullPageBlockItem{
        height: auto;
        width: 100%;
    }
    .usefullPageBlockItem__item{
        width: 48%;
        margin:0 1% 20px 0;
    }
}




@media only screen and (min-width: 993px) and (max-width: 1199px){

    .usefullPageBlockItem__item{
        width: 31%;
        background:#FFFFFF;
        margin: 0 8px 15px 0;
    }
}

