@media screen and (max-width: 768px){
    .usefullCard__left{
        margin: 0 0 40px 0;
    }
    .usefullCurrentPost__contentBlock__name{
        font-size:25px;
        font-weight: 600;
        color: #000000;
        padding: 0px 25px 25px 25px;
        margin:0;
    }
    .usefullCurrentPost__imgBlock{
        height: auto;
    }
    .usefullCurrentPost__contentBlock__desc{
        font-size: 15px;
        color: #000000;
        padding: 0px 25px 30px 25px;
    }

    .usefullCurrentPost__contentBlock__desc__address,.usefullCurrentPost__contentBlock__desc__phone,
    .usefullCurrentPost__contentBlock__desc__mail,.usefullCurrentPost__contentBlock__desc__site,
    .usefullCurrentPost__contentBlock__desc__info__avtozap,.usefullCurrentPost__contentBlock__desc__info__avtozap__content,
    .usefullCurrentPost__contentBlock__desc__info__about
    {
        flex-direction: column;
    }
    .usefullCurrentPost__contentBlock__desc__info__avtozap__content{
        margin: 20px 0 20px 0;
    }
    .usefullCurrentPost__contentBlock__desc__address h2,.usefullCurrentPost__contentBlock__desc__phone h2,
    .usefullCurrentPost__contentBlock__desc__mail h2,.usefullCurrentPost__contentBlock__desc__site h2
    {
        font-size:15px;
        font-weight: 600;
        color:black;
        width: 100%;
    }

    .showFullDesc{
        margin: 20px 0 20px 0;
        width: 100%;

    }

}