.articlePage{
    margin:110px 0 110px 0;
}
.articlePage__left__name{
    font-size: 25px;
    font-weight: 600;
    color: #1FB0A9;
    margin: 0 0 25px 0;
}

.index__header__form__search{
  display none
}
/*------------MENU CATEGORY-----------------*/
.articlePage__left__menuDiv{
    background: #FFFFFF;
    height: 45px;
    margin: 0 0 13px 0;
    width:99%;
}

.newsPage__events__categoryname {
  color: #febf14;
  margin-bottom 20px
  font-size 22px
}

.articlePage__left__menuDiv__menu{
    list-style: none;
    margin: 0;
    width:100%;
    padding: 0 0 0 10px;
}
.articlePage__left__menuDiv__menu__item{
    padding: 11px 30px 13px 0;
}
.articlePage__left__menuDiv__menu__item a{
    text-align: center;
    color: #03A9F4;
    font-size: 14px;
    font-weight: 500;
}
.articlePage__left__menuDiv__menu__item a h2{
    text-align: center;
    color: #03A9F4;
    font-size: 14px;
    font-weight: 500;
    margin:0;
}
.choiceArticle{
    height: 100%;
    align-items: center;
}
.choiceArticle img{
    margin: 1px 0 0 4px;
    width:6px;
    height: 5px;
}
.articlePage-ChoiceMenu{
    background: white;
    height: auto;
    width:300px;
    display: none;
    position: absolute;
    z-index:100;
    top: 100px;
    list-style: none;
    padding:10px;
}
.articlePage-ChoiceMenu li{
    padding-bottom: 10px;
}

.articlePage-ChoiceMenu li a{
    color:black;
    font-size: 15px;
    font-weight: 600;
}
.articlePage-ChoiceMenu-SecondMenu{
    list-style:none;
}
/*------------MENU CATEGORY-----------------*/

/*------------ITEM-----------------*/
.articlePage__left__content{
    flex-wrap: wrap;
}
.articlePage__left__content__item{
    width: 32.3%;
    background: #FFFFFF;
    margin: 0 8px 8px 0;
}
.articlePage__left__content__item:last-child{
    margin-right: 0;
}
.articlePage__left__content__item__img{
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
    border: 5px solid #fff;
}
.articlePage__left__content__item__img img{
    width: 100%;
}
.articlePage__left__content__item__name{
    padding: 8px 5px 17px 5px;
    line-height: 0.9;
}

.articlePage__left__content__item__name a{
    font-size: 20px;
    font-weight: 600;
    color: #000000;

    margin:0;
}
.articlePage__left__content__item__desc {
    font-size: 12px;
    font-weight: 600;
    color: #5B5B5B;
    margin: 0;
    padding: 0 5px 30px 5px;
}
.articlePagination{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}



.article__postCategories{
    width: 100%;
    height: auto;
    display:block;
    padding: 5px;
}
.article__postCategories a{
    color: #FEBF14;
    font-size: 12px;
    font-weight: 600;
}
/*------------ITEM-----------------*/

.articlePage__right{
    margin: 115px 0 0 0;
}

.articleReklama{
    margin-top: 50px;

}
