@media only screen and (max-width: 576px){

    /*------------MENU CATEGORY-----------------*/
    .articlePage__left__menuDiv{
        background: #FFFFFF;
        height: auto;
        margin: 0 0 13px 0;
    }
    .articlePage__left__menuDiv__menu{
        list-style: none;
        margin: 0;
        width:100%;
        padding: 0 0 0 10px;
        flex-direction: column;
    }
    .articlePage__left__menuDiv__menu__item{
        width: 100%;
        padding: 11px 30px 13px 0;
    }
    .articlePage__left__menuDiv__menu__item a{
        display:block;
        width: 100%;
        text-align: center;
        color: #4DABA7;
        font-size: 14px;
        font-weight: 500;
    }
    /*------------MENU CATEGORY-----------------*/

    /*------------ITEM-----------------*/
    .articlePage__left__content{
        flex-direction: column;
    }
    .articlePage__left__content__item{
        width: 100%;
        background: #FFFFFF;
        margin: 0 0 8px 0;
    }
    .articlePage__left__content__item:last-child{
        margin-right: 0;
    }
    .articlePage__left__content__item__img{
        padding: 5px;
        display block
    }
    .articlePage__left__content__item__img img{
        width: 100%;
    }
    .articlePage__left__content__item__name{
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        padding: 8px 5px 17px 5px;
        margin:0;
    }
    .articlePage__left__content__item__desc{
        font-size: 10px;
        font-weight: 600;
        color: #5B5B5B;
        margin: 0;
        padding: 0 5px 30px 5px;
    }
    /*------------ITEM-----------------*/

    .choiceArticle{
        justify-content: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px){

    /*------------MENU CATEGORY-----------------*/
    .articlePage__left__menuDiv{
        background: #FFFFFF;
        height: auto;
        margin: 0 0 13px 0;
        width: 98.5%;
    }

    .articlePage__left__menuDiv__menu{
        list-style: none;
        margin: 0;
        width:100%;
        padding: 0 0 0 10px;
        flex-direction: column;
    }
    .articlePage__left__menuDiv__menu__item{
        width: 100%;
        padding: 11px 30px 13px 0;
    }
    .articlePage__left__menuDiv__menu__item a{
        display:block;
        width: 100%;
        text-align: center;
        color: #4DABA7;
        font-size: 14px;
        font-weight: 500;
    }
    /*------------MENU CATEGORY-----------------*/

    /*------------ITEM-----------------*/
    .articlePage__left__content{



    }
    .articlePage__left__content__item{
        width: 48%;
        background: #FFFFFF;
        margin: 0 10px 10px 0;
    }
    .articlePage__left__content__item:last-child{
        margin-right: 0;
    }
    .articlePage__left__content__item__img{
        padding: 5px;
    }
    .articlePage__left__content__item__img img{
        width: 100%;
    }
    .articlePage__left__content__item__name{
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        padding: 8px 5px 17px 5px;
        margin:0;
    }
    .articlePage__left__content__item__desc{
        font-size: 10px;
        font-weight: 600;
        color: #5B5B5B;
        margin: 0;
        padding: 0 5px 30px 5px;
    }
    /*------------ITEM-----------------*/

    .choiceArticle{
        justify-content: center;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1199px){
    .articlePage__left__content__item{
        width: 32%;
        background: #FFFFFF;
        margin: 0 8px 10px 0;
    }
    .articlePage__left__menuDiv{
        background: #FFFFFF;
        height: auto;
        margin: 0 0 13px 0;
        width: 98.5%;
    }

}
