@media only screen and (max-width: 991px) {
    footer{
        min-height: 135px;
        height: auto;
        width: 100%;
        background: #212121;
        position: relative;
        bottom:0;
        z-index: 1;
    }
    .footer__gallery{

        margin-left: 0;
        padding-left: 20px;
    }
    .footer__contact,.footer__rules,.footer__map,.footer__rightInfo{
        padding:0;
    }
    .footer__right{
        margin: 15px 0 15px 0;
        padding 0 30px
    }

    .buttonUp{
      bottom: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      font-size: 20px;
      padding: 8px;
    }

}
