header{
    height: 80px;
    background: rgba(255,255,255,1);
    top:0;
    right:0;
    left:0;
    position: fixed;
    z-index: 1010;
}
.header-logo a{
    display:block;
    width:100%;
}
.menuMainDiv{
    height: 100%;
}
.header-logo-img{
    padding: 20px 0 20px 0;
}
.header-rightBlock{
    padding: 25px 0 25px 40px;
}

.header-menu,.header-menu-articleMenu{
    list-style: none;
}
.header-menu{
    justify-content: space-between;
    width:100%;
}
.header-menu li{
    padding: 0 25px 30px 25px;
}
.header-menu li a{
    font-size: 14px;
    color: #3fb1e4;
    margin:0;
}
.ARTICLE{
    align-items: center;
}
.header-menu-articleMenu{
    display:none;
    background: #FFFFFF;
    height: 156px;
    border-radius: 5px;
    width: auto;
    position: absolute;
    top: 100px;
    left:44.75%;
}
.header-menu-articleMenu__arrow{
    position: absolute;
    height: 30px;
    width:30px;
    top:-20px;
    right:5px;
}
.header-menu-articleMenu__content{
    width: 100%;
    height: 100%;
    align-items: center;
}
.header-menu-articleMenu a{

}
.header-menu-articleMenu__left,.header-menu-articleMenu__center,.header-menu-articleMenu__right{
    padding: 15px 20px 15px 20px;
    width: auto;
}
.header-menu-articleMenu__left a,.header-menu-articleMenu__center a,.header-menu-articleMenu__right a{
    font-size: 15px;
    font-weight: 400;
    color: black;
    display:block;
    margin-bottom: 5px;
}
.header-menu-articleMenu__center{
    border-right: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
}
.vipad{
    cursor: pointer;
    width:20px;
}
.vipad-img{
    padding: 4px 0 0 0;
    margin: -3px 0 0 5px;
}
.header-menu-articleMenu li{
    padding: 5px 0 5px 0;
}
.header-menu-articleMenu li a{
    color: #1C1C1C;
    font-size:15px;
}
.header-menu li a:hover{
    text-decoration: none;
    color: #FEBF14;
}

.menuSearch{
    height: 40px;
    background: #FFFFFF;
    padding: 0;
    border-radius: none;
    outline: none;
    padding:5px;
    position: absolute;
    top: 100px;
    right: 22%;
    display:none;
}
.menuSearchDiv{
    height: 100%;
    width:100%;
}
.menuSearchDiv input{
    border:1px solid #FEBF14;
    outline: none;
    width:70%;
    height: 100%;
    border-radius: 0;
}
.menuSearchDiv button{
    width:30%;
    height: 100%;
    color: white;
    border:none;
    border-radius: 0;
    background: #FEBF14;
    text-align: center;
}
.menuSearchDiv button:focus,.menuSearchDiv button:active{
    border:none;
    outline: none;
}
