@media only screen and (max-width: 768px){
/*-----------LEFT CONTENT----------------*/
.boardPage__left__menuDiv{
    height: auto;
}
.boardPage__left__menuDiv__menu{
    flex-wrap: wrap;
}
.boardPage__left__menuDiv__menu__item{
    width:100%;
    padding:0;
    text-align: center;
}
.boardPage__left__menuDiv__menu__item a{
    display:block;
    width:100%;
}
.boardPage__left__content__item{
    height: auto;
}
.board__item,.name__cost{
    flex-direction: column;
}
.boardPage__left__content__item__img{
    width:auto;
    height: 100%;
    padding: 7px;
}
.boardPage__left__content__item__info{
    width:100%;
    padding: 0 7px 0 7px;
}
.boardPage__left__content__info__name,.boardPage__left__content__info__cost{
    margin:0;
    font-size: 18px;
    width:100%;
}
.boardPage__left__content__info__cost{
    margin:10px 0 10px 0;
}
.boardPage__left__content__info__desc{
    font-size:13px;
    margin:0;
}
.boardPage__left__content__info__date{
    width: 100%;
    margin: 10px 0 10px 0;
    font-size: 15px;
}
/*-----------LEFT CONTENT----------------*/

}

@media only screen and (min-width: 768px) and (max-width: 1199px){
/*-----------LEFT CONTENT----------------*/
    .boardPage__left__content__item{
        height: auto;
    }

    .boardPage__left__content__item__img{
        width: 45%;
    }

    .boardPage__left__content__item__info {
        padding: 0 25px 0 25px;
    }
    
    .boardPage__left__content__info__date {
        margin:20px 0 0 0 ;
        width:100%;
    }
/*-----------LEFT CONTENT----------------*/    
}