.boardSection{
    margin:110px 0 110px 0;
}
/*-----------LEFT CONTENT----------------*/
.boardPage__left__content{
    padding:0;
}
.boardPage__left__name{
    font-size:25px;
    font-weight: 600;
    color: #1FB0A9;
}

.boardPage__left__menuDiv{
    height: 45px;
    background: #FFFFFF;
    margin: 15px 0 10px 0;
}

.boardPage__left__menuDiv__menu{
    list-style: none;
    margin: 0;
    width:100%;
    padding: 0 0 0 0;
}
.boardPage__left__menuDiv__menu__item{
    padding: 12px 60px 13px 0;
}
.boardPage__left__menuDiv__menu__item a{
    text-align: center;
    color: #4DABA7;
    font-size: 14px;
    font-weight: 500;
}
.boardPage__left__content{

}
.boardPage__left__content__item{
    margin: 7px 0 7px 0;
    background: #FFFFFF;
    height: 215px;
}
.boardPage__left__content__item__img{
    width:25%;
    height: 100%;
    padding: 7px;
}
.boardPage__left__content__item__img img{
    width:100%;
    height: 100%;
}
.boardPage__left__content__item__info{
    width:75%;
    padding: 0 20px 0 20px;
}
.boardPage__left__content__info__name a,.boardPage__left__content__info__cost{
    font-size:20px;
    font-weight: 600;
    color: #000000;
}
.boardPage__left__content__info__name{
    padding: 7px 0 0 0;
    width: 92%;
    line-height: 1;
}
.boardPage__left__content__info__cost p{
    width: 8%;
    margin: 20px 0 0 0;
    padding: 10px 0 10px 0;
}
.boardPage__left__content__info__desc{
    width: 90%;
    height: 50%;
}
.boardPage__left__content__info__desc p{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    
    
    margin:0;
}

.boardPage__left__content__info__date{
    width: 20%;
    margin:20px 0 0 80%;
    text-align: right;
}

/*-----------LEFT CONTENT----------------*/



/*-----------RIGHT CONTENT----------------*/
.boardPage__right{
    margin: 44px 0 0 0;
}
.boardPage__right__content{
    background: #FEFEFE;
}
.boardPage__right__categories__name{
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    text-align:center;
    padding: 8px 0 28px 0;
    margin:0;
}
.boardPage__right__categories__menu{
    list-style: none;
    padding: 0 0 0 20px;
}
.boardPage__right__categories__menu__item{
    padding: 10px 0 0 0;
}
.boardPage__right__categories__menu__item:first-child{
    padding-top:0;
}
.boardPage__right__categories__menu__item a{
    font-size: 16px;
    color: #212121;
}

.boardPage__right__cost{
    margin: 40px 0 25px 0;
}
.boardPage__right__cost__name{
    font-size: 16px;
    font-weight: regular;
    padding: 0 20px 0 20px;
}
.boardPage__right__cost__field{
    padding: 0 20px 0 20px;
}
.boardPage__right__cost__field input{
    width:50%;
}
.boardPage__right__cost__field input[placeholder]{
    padding: 0 0 0 10px;
}
.boardPage__right__cost__field input:focus{
    outline: none;
}
.boardPage__right__filter{
    padding: 0 20px 28px 20px;
    margin: 0 0 20px 0;
}
/*-----------RIGHT CONTENT----------------*/