@media screen and (max-width: 768px){
    .usefullAll__item__body{
        flex-direction: column;
    }
    .usefullAll__item{
        height: auto;
        width:100%;
        background: #FFFFFF;
        margin: 0 0 20px 0;
    }
    .usefullAll__item__img{
        padding:7px;
        width: 100%;
        height: auto;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px){

    .usefullAll__item{
        height: auto;
    }

    .usefullAll__item__img{
        width: 45%;
        height: auto;
    }



}



