.usefullAll{
    height: auto;
    margin: 110px 0 110px 0;
}
.usefullAll__left,.usefullAll__right{

}
.usefullAll__item{
    height: auto;
    width:100%;
    background: #FFFFFF;
    margin: 0 0 20px 0;
}

.usefullAll__item__img{
    padding:7px;
    width: 180px;
    height: 220px;
    display: flex;
    align-items: center;
}
.usefullAll__item__img img{
    width: 100%;
}
.usefullAll__item__content
  padding-top 15px

.usefullAll__item__content__name{
    margin:0;
    font-size: 0;
    padding: 5px 0 20px 0;
}
.usefullAll__item__content__name a{
    font-size:20px;
    font-weight: 600;
    color: #000000;
    padding: 6px 0 23px 0;
    margin:0;

}

.usefullAll__item__content__desc p{
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding: 0;
    margin:0;
}
.usefullAll__item__content__date {
    font-size: 12px;
    padding: 55px 0 0 80%;
    color: #7C7C7C;
    margin: 0;
}


.usefullAll__right__categories{
    background: #FEFEFE;
    position: absolute;
    width: 92%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.usefullAll__right__categories::-webkit-scrollbar {
    background: #F9F9F9;
    width: 15px;
}
.usefullAll__right__categories::-webkit-scrollbar-button { color: black; }
.usefullAll__right__categories::-webkit-scrollbar-thumb {
    height: 90px;
    background-color: #D4D4D4;
    border-radius: 6px;
    background-image:url('https://yraaa.ru/_pu/24/59610063.png');
    background-position:center;
    background-repeat:no-repeat;
}
.usefullAll__right__categories::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}
.usefullAll__right__categories::-webkit-scrollbar-track{
    background-color: #ffffff;
}

.usefullAll__right__categories::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
  }

.usefullAll__right__categories::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
  }

.usefullAll__right__categories::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
  }

  .usefullAll__right__categories::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: black transparent transparent transparent;
  }

.usefullAll__right__categories__menu{
    list-style: none;
    padding:0 20px 0 20px;
}
.usefullAll__right__categories__menu li{
    padding: 20px 0 0 0;
}
.usefullAll__right__categories__menu__a:hover{
  color: #FEBF14;
}
.usefullAll__right__categories__menu__a2{
  color: #c2c2c2;
}
.usefullAll__right__categories__menu__a2:hover{
  color: #FEBF14;
}
.usefullAll__right__categories__menu__a{
    font-size:15px;
    color:black;
    font-weight: 500;
}

.usefullreklama{
    margin-top:450px;
}
